[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
black = "*"
geopandas = "*"
numpy = "*"
pandas = "*"
psycopg2-binary = "*"
pytest = "*"
requests = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
us = "==2.0.2"
tableauscraper = "*"
lxml = "*"
sentry-sdk = "*"
jmespath = "*"
click = "*"
pyarrow = "*"
prefect = "==2.10"

[dev-packages]
ipython = "*"


[requires]
python_version = "3.10"

[scripts]
test = "pytest -v"
black = "black --check ./can_tools"

