BeautifulSoup4==4.9.3
black==20.8b
beautifulsoup4==4.9.3
geopandas==0.8.1
numpy
pandas==1.3.4
psycopg2-binary==2.8.6
pyppeteer==0.2.2
pytest==6.1.2
requests==2.27.1
sqlalchemy==1.3.20
sqlalchemy_utils==0.36.8
camelot-py[cv]
us==2.0.2
tableauscraper==0.1.29
xlrd==1.2.0
lxml==4.6.2
sentry-sdk==1.0.0
jmespath==0.10.0
textract
html5lib==1.1
click==8.0.2
pyarrow==8.0.0
prefect==1.2.2
