beautifulsoup4==4.12.2
black==20.8b
geopandas==0.13.2
numpy==1.24.3
pandas==2.0.2
psycopg2-binary==2.9.6
pytest==7.3.2
requests==2.31.0
sqlalchemy==1.4.48
sqlalchemy-utils==0.41.1
us==2.0.2
tableauscraper==0.1.29
lxml==4.9.2
sentry-sdk==1.25.1
jmespath==1.0.1
click==8.0.2
pyarrow==12.0.0
prefect==2.10
prefect-shell==0.1.5
exceptiongroup==1.1.1
tqdm==4.65.0