[Unit]
Description=Prefect Cloud Agent

[Service]
Environment="DATAPATH=/home/sglyon/scraper-outputs"
Environment="COVID_DB_CONN_URI=<postgress-url>"
Environment="PREFECT__CLOUD__API_KEY=<prefect-api-key>"

User=sglyon
Group=sglyon
Type=simple
WorkingDirectory=/home/sglyon/can-scrapers
ExecStart=/home/sglyon/miniconda/envs/prefect-can-scrapers/bin/prefect agent local start --api https://api.prefect.io
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
