[Unit]
Description=Prefect Worker

[Service]
User=sean
Environment="DATAPATH=/home/sean/scraper-outputs"
WorkingDirectory=/home/sean/can-scrapers
ExecStart=/home/sean/miniconda/envs/prefect-can-scrapers/bin/prefect agent start -q default
Restart=always

[Install]
WantedBy=multi-user.target